.bg-hero {
  height: 80vh;
  &::after {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
  }
}
.hero-title {
  line-height: 1.3;
  b {
    font-weight: 900;
  }
}
