// tailwind css
@use 'sass:math';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';
@import './calendar.css';
@import './modal.css';

body {
  @media (max-width: 1199px) {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  @apply mx-auto;
}
.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
  line-height: 1.5;
  letter-spacing: -0.4px;
  word-break: keep-all;
}
ol,
ul {
  li {
    word-break: keep-all;
  }
}
ol {
  li {
    list-style-type: decimal;
    list-style-position: outside;
    @apply ml-4 leading-snug pl-2;

    > ol li {
      list-style-type: lower-latin;
    }
  }
  li + li {
    @apply pt-2;
  }
}
p {
  word-break: keep-all;
}
b {
  font-weight: 600;
}

.scroll-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.bg-transparent {
  background-color: transparent !important;
}

.text-highlight {
  background-image: linear-gradient(transparent 66%, rgba(#5cbbbb, 0.35) 34%);
  background-repeat: repeat-x;
}

// input + btn
.btn,
input,
select,
textarea {
  @apply py-3 px-4 text-base font-medium rounded;
  transition: border 0.15s ease-out;
}

// buttons
.btn,
button {
  @apply focus:outline-none;

  &:disabled,
  &.disabled {
    @apply border-gray-200 bg-gray-100 text-gray-400;
    cursor: no-drop;
  }
}

.tab {
  &:disabled,
  &.disabled {
    @apply border-gray-200  text-gray-400;
    cursor: no-drop;
  }
}
label {
  transition: all 0.15s ease-out;
  @apply block uppercase tracking-wide text-black text-sm mb-1;
}
// forms
.form-group {
  & + .form-group {
    @apply mt-5;
  }
}
.form-control {
  label {
    transition: all 0.15s ease-out;
    @apply block uppercase tracking-wide text-black text-sm mb-1;
  }
  input,
  select,
  textarea {
    @apply appearance-none block w-full text-gray-700 border border-gray-300;
    &:focus {
      @apply outline-none bg-white border-gray-500 text-black;
    }
    // disabled
    &.disabled,
    &:disabled {
      cursor: no-drop;
      @apply bg-gray-100 border-gray-200 text-gray-400;
    }
  }
  input[type='password'] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    &::placeholder {
      font-family: 'NanumSquare';
    }
  }
  select {
    margin-right: 1.5rem;
  }
}
.form-control.lg {
  input,
  select {
    @apply py-4 px-5 text-xl;
  }
}

// checkbox
@mixin checkbox_style {
  appearance: none;
  transition: all 0.1s ease-out;
  background-repeat: no-repeat;
  background-image: url('/images/btn-checkbox-off.svg');
  &:checked {
    background-image: url('/images/btn-checkbox-on.svg');
  }
}

.form-checkbox {
  input[type='checkbox'] {
    @include checkbox_style;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    padding: 0;
  }

  > label {
    cursor: pointer;
  }
}

// Forms validate
.error {
  input,
  select {
    @apply border-danger-500  text-danger-500;
    &:focus {
      @apply border-danger-500;
    }
  }
  p {
    @apply mt-2 text-sm text-danger-500;
  }
}
.success {
  input,
  select {
    @apply border-success-500  text-success-500;
    &:focus {
      @apply border-success-500;
    }
  }
  p {
    @apply mt-2 text-sm text-success-500;
  }
}

.form-switch {
  button {
    @apply w-16 rounded-l-md border border-gray-300 bg-white text-sm font-extrabold px-4 py-3 text-gray-400;
    &:first-child {
      @apply border-r-0;
    }
    &.active {
      @apply border-r border-primary-600 text-primary-600 bg-primary-50;
    }
  }
  button + button {
    @apply border-l-0 rounded-md rounded-l-none;

    &.active {
      @apply border-l  bg-primary-50;
    }
  }
}

// Layout
$sidebar-size: 230px;

#nav-wrap {
  z-index: 99;
}
#toggle-btn {
  z-index: 100;
}

.layout {
  display: grid;
  grid-template-rows: repeat(3, auto);

  .header {
    @media (min-width: 1200px) {
      border-bottom-width: 1px;
      border-style: solid;
      @apply border-gray-200;
    }
  }
  .nav-item {
    .nav-link {
      @apply block text-black py-3;
      &:hover {
        @apply text-primary-600;
      }
    }
    @media (min-width: 1200px) {
      .nav-link {
        position: relative;
        font-size: 17px;
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
        color: black;
        &:hover {
          color: inherit;
        }

        &::before {
          content: '';
          z-index: 1;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          width: 1%;
          transition: 0.15s linear;
        }
      }
      .nav-link.active {
        &::before {
          content: '';
          width: 100%;
          background-color: #5cbbbb;
        }
      }
    }
  }
  .top-nav {
    li + li {
      a {
        position: relative;
        &::before {
          content: '・';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .subpage {
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      background: linear-gradient(to bottom, white, transparent);
    }
    z-index: 0;
    position: relative;
    height: 450px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply flex flex-col justify-start;

    &--description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    &.dtc {
      background-image: url('https://images.pexels.com/photos/9574544/pexels-photo-9574544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-position: center;
    }
    &.survey {
      background-image: url('https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-position: bottom;
    }
  }
}
.bg-hero {
  .header {
    background-color: white;
  }
}
.subpage {
  .header {
    border-color: transparent;
  }
}

.toggle-menu {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
  display: block;
  i {
    position: absolute;
    display: block;
    height: 2px;
    width: 1.25rem;
    left: 0.5rem;
    transition: transform 0.2s;
    @apply bg-gray-900;

    &:nth-child(1) {
      top: 0.5rem;
    }
    &:nth-child(2) {
      top: 1rem;
    }
    &:nth-child(3) {
      top: 1.5rem;
    }
  }
}
.toggle-menu.active {
  i {
    &:nth-child(1) {
      top: 1rem;
      transform: rotateZ(45deg);
    }
    &:nth-child(2) {
      background: transparent;
    }
    &:nth-child(3) {
      top: 1rem;
      transform: rotateZ(-45deg);
    }
  }
}

.brand-logo {
  display: inline-block;
  overflow: hidden;
  width: 140px;
  height: 26px;
}

.sidebar {
  position: relative;
  width: $sidebar-size;
  @apply border-r border-gray-200;
}

// Modal

$modal-size-sm: 500px !important;
$modal-size-md: 600px !important;
$modal-size-lg: 800px !important;

.modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-size {
  &-sm {
    max-width: $modal-size-sm;
  }
  &-md {
    max-width: $modal-size-md;
  }
  &-lg {
    max-width: $modal-size-lg;
  }
}

#backdrop {
  z-index: 90;
  @apply opacity-60 fixed inset-0 w-full h-full bg-black overflow-hidden;
}

// vita-modal
.customModal {
  @apply p-5 pt-6 lg:p-8 lg:pt-6 rounded-large shadow-lg overflow-hidden relative flex flex-col w-full bg-white outline-none focus:outline-none mx-auto max-w-lg;

  max-height: calc(100% - 48px);

  @media (min-width: 1200px) {
    height: auto;
  }
}

// home
.bg-hero {
  width: 100%;
  height: 700px;
  @apply bg-success-100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  @media (min-width: 1200px) {
    height: 900px;
  }
}

// Common

.page-title {
  @apply text-3xl font-bold pb-7;
  &._sub {
    @apply border-b border-black;
  }
}

// // Circle Progress
$spacing: 1rem;
$themeColor: #5cbbbb;
$backColor: #e5e7eb;
$progress-size: 72px;
$progress-status-size: calc($progress-size - 8px);
$step: 1;
$loops: round(math.div(100, $step));
$increment: math.div(360, $loops);
$half: round($loops * 0.5);

@for $i from 0 through $loops {
  .progress--bar.progress--#{$i * $step}::after {
    width: $i * $step * 1%;
  }
  .progress--circle.progress--#{$i * $step}::after {
    @if $i < $half {
      $nextDeg: 90deg + ($increment * $i);
      background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent),
        linear-gradient($nextDeg, $themeColor 50%, $backColor 50%, $backColor);
    } @else {
      $nextDeg: -90deg + ($increment * ($i - $half));
      background-image: linear-gradient($nextDeg, $themeColor 50%, transparent 50%, transparent),
        linear-gradient(270deg, $themeColor 50%, $backColor 50%, $backColor);
    }
  }
}

.progress--bar {
  height: 1.5rem;
  margin: $spacing;
  background-color: $backColor;
  &:after {
    content: '';
    display: block;
    height: 100%;
    background-color: $themeColor;
  }
}

.progress--circle {
  position: relative;
  display: inline-block;
  margin: $spacing;
  width: $progress-size;
  height: $progress-size;
  border-radius: 50%;
  background-color: $backColor;
  &:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: $progress-status-size;
    height: $progress-status-size;
    border-radius: 50%;
    background-color: white;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $themeColor;
  }
}

.progress__number {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  transform: translateY(-50%);
  text-align: center;
}

// 비타백서
.thumb-image {
  position: relative;
  overflow: hidden;
  @apply rounded-md bg-gray-200 w-full;
  height: 162px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 1200px) {
    width: 288px;
    height: 100%;
  }
}

.ellipsis {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  height: 3em;
  &::before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.tab {
  position: relative;
  &.active::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 100%;
    @apply bg-primary-600;
  }
}

.cart-btn {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  &.plus {
    background-image: url('/images/btn-plus.svg');
  }
  &.minus {
    background-image: url('/images/btn-minus.svg');
  }
}
// thumbnail no-image
.thumb {
  @apply block relative rounded-xl;
  width: 100px;
  height: 100px;

  &-large {
    width: 160px;
    height: 160px;
  }
  &-small {
    width: 64px;
    height: 64px;
  }
}

.highlight {
  display: inline-block;
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 8px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s all;
    @apply bg-primary-300;
  }
}

.user-banner {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 5%;
    right: -25%;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    background-color: #4ab7b7;
  }
  circle {
    fill: #4ab7b7;
  }
}

.section-bg {
  position: relative;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    @apply bg-gray-100;
    z-index: -1;
  }
}

// dtc
.proccess-list {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 24px;
    transform: translateY(-50%);
    top: 50%;
    height: 80%;
    width: 2px;
    @apply bg-gray-300;
  }
  @media (min-width: 1200px) {
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      width: 80%;
      height: 2px;
      @apply bg-gray-300;
    }
  }
  li {
    height: 96px;
    @media (min-width: 1200px) {
      height: unset;
    }
  }
}
.numbers.active {
  @apply bg-primary-600 text-white border-primary-600;
}

.credit-card {
  @apply bg-gray-50 border border-dashed border-gray-200 grid place-content-center rounded-2xl p-4 w-80 h-52 mx-auto text-center;

  &--action {
    @apply bg-primary-600 border-solid border-primary-600 text-white flex flex-col justify-between p-6;
    background-image: url('/images/bubbles.svg');
    background-position: 100% 50%;
    background-size: cover;
  }
}

// tabs
.tabs {
  @apply border-b-2 border-gray-200 flex;
  .tab {
    @apply block relative mr-5 px-1 py-3 text-gray-400 text-base;

    &.active {
      @apply text-black;
    }

    &.active::before {
      content: '';
      z-index: 1;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      @apply bg-primary-600;
    }

    > a {
      display: block;
      width: 100%;
      height: 100%;
      color: inherit;
    }
  }
}

@mixin types {
  position: relative;
  z-index: 0;
}

@mixin types_before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: -1;
}

.tabs-faq {
  @apply border-b-2 border-gray-200 flex flex-nowrap lg:justify-start w-full overflow-x-auto;

  &--tab + &--tab {
    margin-left: 0.5rem;
  }

  &--tab {
    @apply m-0 border-none whitespace-nowrap text-base text-center py-3;

    > a {
      color: inherit;
      @apply inline-block text-base text-gray-500 py-2 px-4;
    }

    &.active {
      > a {
        @apply text-white bg-primary-600 rounded-full;
      }
    }
  }
}

// calendar items

.calendar-types {
  &-label {
    @apply rounded-full items-baseline;
    padding: 6px 8px 4px 8px;
    font-size: 12px;
    line-height: 1;

    .dot {
      font-family: sans-serif;
      display: inline-block;
      padding-right: 4px;
      font-size: 10px;
    }
  }

  &-label.mobile {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    padding: 0;
    .dot {
      transform: translateX(-50%);
      font-size: 14px;
      padding: 0;
    }
  }

  // 오늘날짜
  &--today {
    @include types;

    &::after {
      @include types_before;
      z-index: -2;
      border: 2px solid rgba(92, 187, 187, 1);
      @apply rounded-full w-10 h-10;
    }
  }
  // 섭취
  &--action {
    @include types;
    @apply text-white;

    &::before {
      @include types_before;
      background-color: rgba(5, 150, 105, 1);
      @apply rounded-full w-8 h-8;
    }
  }
  // 미섭취
  &--action-not {
    @include types;
    @apply text-white;

    &::before {
      @include types_before;
      background-color: rgba(251, 191, 36, 1);
      @apply rounded-full w-8 h-8;
    }
  }
}
