// tailwind css
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  height: 100%;
  max-height: 800px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
  line-height: 1.5;
}

// buttons
.btn {
  @apply py-3 px-4 text-base font-medium rounded-md border border-transparent shadow;

  &.disabled {
    @apply border-0 opacity-20;
    cursor: no-drop;
  }
}

.btn + .btn {
  margin-top: 0.925rem;
}

// forms
.form-control {
  margin-bottom: 1.5em;
  label {
    transition: all 0.2s ease-out;
    @apply block uppercase tracking-wide text-gray-800 text-sm font-bold mb-2;
  }
  input {
    transition: border 0.2s ease-in-out;
    @apply appearance-none block w-full text-gray-800 border border-gray-300 rounded py-4 px-4 leading-tight;
    &:focus {
      @apply focus:outline-none focus:bg-white focus:border-gray-500;
    }
  }
}

#sidebar {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: calc(100vh - 110px);
    @apply bg-gray-200;
  }
}

$header-size: 110px;
$topnav-size: 44px;

// home
.bg-hero {
  height: 800px;
  padding-top: $header-size;
  &::after {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
  }
}
.hero-title {
  line-height: 1.3;
  b {
    font-weight: 900;
  }
}

// common

.page-title {
  @apply text-3xl font-bold pb-7;
  &.sidebar {
    @apply border-b border-black;
  }
}
