@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

html,
body {
  min-width: 1140px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
}

.btn + .btn {
  margin-top: 0.925rem;
}
.btn {
  @apply p-4 text-base font-medium rounded-md;
  &.disabled {
    @apply border-0 opacity-20;
    cursor: no-drop;
  }
}
